
<h2>Home</h2>

<p>{{controller.message}}</p>

<div class='dropdown'>
 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
 <span class="caret"></span></button>

 <ul class="dropdown-menu">
   <li ng-click="controller.doSomething(make.id)" ng-repeat="make in controller.makes" >{{make.name}}</li>

</ul>
</div>
<br/>

<div>
  <label>Search Inventory:</label>
  <input class='input' ng-model="controller.search"/>
  <ng-model-options="{debounce:1000}"



<ul id='list'>
    <li ng-repeat="car in controller.cars|filter:{ShortDescription:controller.search, CarMakeId:controller.selectedCarMakeId}"
    ng-click="controller.showModal(car)">

        {{car.ShortDescription}}
    </li>
</ul>
</div>
